<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:if="${contact.id == null}">Create Contact</title>
    <title th:if="${contact.id != null}">Edit Contact</title>
</head>

<body>

<div th:if="${contact.id == null}">
    <h1>Create contact</h1>
</div>
<div th:if="${contact.id != null}">
    <h1>Edit contact</h1>
</div>

<form action="/contact/create" method="post">
    <div>
        <label hidden="hidden" for="id">id</label>
        <input hidden="hidden" type="number" id="id" name="id" th:value="${contact.id}"/>
    </div>

    <div>
        <label for="firstname">First name</label>
        <input type="text" id="firstname" name="firstname" required th:value="${contact.getFirstname}"/>
    </div>
    <div>
        <label for="lastname">Last name</label>
        <input type="text" id="lastname" name="lastname" required th:value="${contact.getLastname}"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required th:value="${contact.email}"/>
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" required th:value="${contact.phone}"/>
    </div>
    <button type="submit">Save</button>
</form>

</body>

</html>